.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 8%;
  }
  
  .topnav .navs {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    float: right;
  }

  .topnav a:hover {
      text-emphasis: none;
      text-decoration: none;
      color: red;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  a.text
  {
    color: white;
    font-size: 40px;
    color: white;
    margin-left: 5%;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a.navs {
      float: none;
      display: block;
      text-align: left;
      font-size: 25px;
      border-top: 2px solid white;
      text-align: center;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }


  .awesome{
    font-family: simple;
  }

  @font-face{
    font-family: "simple";
    src: url("./font.ttf") format("truetype");
  }