body{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.projectSection{
    display: block;
    margin-top: 30px !important;
}
@media only screen and (min-width: 769px) {
  .projectSection {
    margin: 0% 20% 0% 20%;
    text-align: center;
  }
  .imz {
    border-right-color: brown;
    border-style: dotted;
    border-right-width: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .footer{
    font-size: 18px;
    border-radius: 7%;
  }
}

.footer{
  font-size: 22px;
  border-radius: 7%;
}

.image {
  width: 100%;
  height: 100%;
}

.margin{
    border-right-color: brown;
    border-style: dotted;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 5px;
}

.awesome_font1{
  font-family: header_font;
  margin-left: 5%;
}
@font-face{
  font-family: "header_font";
  src: url("./bubbles.ttf") format("truetype");
}