* {
    box-sizing: border-box;
}

body{
    /* background-color: black !important; */
    margin: 0% 20% 0% 20%;
    /* background-color: #1E0555; */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 700px) {
    .bodi{
        margin: 0% 0% 0% 0%;
        /* background-color: #1E0555; */
        /* background-image: linear-gradient(to right bottom, #d87fc8, #c1a6ea, #b7c7f7, #c8e0f7, #eff4f6); */
    }
    .startDiv{
        /* background-color: #1E0555; */
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        margin: 0% 0% 0% 0%;
        border-radius: 30%;
    }
}

@media only screen and (min-width: 701px) and (max-width:991px) {
    .bodi{
        margin: 0% 0% 0% 0%;
        /* background-color: #1E0555; */
        /* background-image: linear-gradient(to right bottom, #d87fc8, #c1a6ea, #b7c7f7, #c8e0f7, #eff4f6); */
    }
    .startDiv{
        /* background-color: #1E0555; */
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        margin: 0% 5% 0% 5%;
        border-radius: 30%;
    }
    .text{
        padding-top:100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bodi{
        margin: 0% 20% 0% 20%;
        /* background-color: #1E0555; */
        /* background-image: linear-gradient(to right bottom, #d87fc8, #c1a6ea, #b7c7f7, #c8e0f7, #eff4f6); */
    }
    .startDiv{
        /* background-color: #1E0555; */
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        border-radius: 30%;
        
    }
    .text{
        padding-top:200px;
    }
}




.header{
    text-align: center;
    margin: 0px 0px 30px;
    /* margin-bottom: 5px; */
    /* font-size: 3rem; */
}

.game , .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

/* .imageMain{
} */

.myImg{
    width:100%;
    border-radius: 50%;
    transform:rotateY(30deg);
}

.containers{
    background-color: #F0DB4F;
    padding:1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    /* font-size: 3rem; */
    font-weight: bold;
    text-align: center;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 1.7rem;
    color:black;
}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width:100%;
    height: 8rem;
    margin: auto;
    resize:none;
    padding: .5rem 1rem;
    /* font-size: 1rem; */
    border-radius: .5rem;
}

.quote-input:focus{
    border-color: black;
}

.correct {
    color:green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.result{
    text-align: center;
}


.first
{
    margin-top: 2vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20%;
}



/* navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover{
      text-emphasis: none;
      text-decoration: none;
      color: red;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }