* {
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background-color: #1E0555; */
}

.startDiv{
    background-color: #1E0555;
    margin: 0px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.header{
    text-align: center;
    margin: 0px 0px 30px;
    /* margin-bottom: 5px; */
    font-size: 3rem;
}

.game , .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

.container{
    background-color: #F0DB4F;
    padding:1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 1.7rem;
    color:black;
}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width:100%;
    height: 8rem;
    margin: auto;
    resize:none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus{
    border-color: black;
}

.correct {
    color:green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.result{
    text-align: center;
}



