* {
    box-sizing: border-box;
}

body{
    /* background-color: black !important; */
    margin: 0% 20% 0% 20%;
    /* background-color: #1E0555; */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 700px) {
    .bodi{
        margin: 0% 0% 0% 0%
    }
    .startDiv{
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        margin: 0% 0% 0% 0%;
        border-radius: 30%;
    }
    .quote-display {
      margin-bottom: 1rem;
      margin-left: calc(1rem + 2px);
      margin-right: calc(1rem + 2px);
      font-size: 1.7rem;
      color:black;
      max-height: 300px;
      overflow-y: auto;
  }
}

@media only screen and (min-width: 701px) and (max-width:991px) {
    .bodi{
        margin: 0% 0% 0% 0%;
    }
    .startDiv{
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        margin: 0% 5% 0% 5%;
        border-radius: 30%;
    }
    .text{
        padding-top:100px;
    }
    .quote-display {
      margin-bottom: 1rem;
      margin-left: calc(1rem + 2px);
      margin-right: calc(1rem + 2px);
      font-size: 1.7rem;
      color:black;
      max-height: 400px;
      overflow-y: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bodi{
        margin: 0% 20% 0% 20%;
    }
    .startDiv{
        margin: 0px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        border-radius: 30%;
        
    }
    .text{
        padding-top:200px;
    }
    .quote-display {
      margin-bottom: 1rem;
      margin-left: calc(1rem + 2px);
      margin-right: calc(1rem + 2px);
      font-size: 1.7rem;
      color:black;
      max-height: 500px;
      overflow-y: auto;
  }
}




.header{
    text-align: center;
    margin: 0px 0px 30px;
}

.game , .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
}

.myImg{
    width:100%;
    border-radius: 50%;
    transform:rotateY(30deg);
}

.containers{
    background-color: #F0DB4F;
    padding:1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px !important;
}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width:100%;
    height: 8rem;
    margin: auto;
    resize:none;
    padding: .5rem 1rem;
    /* font-size: 1rem; */
    border-radius: .5rem;
}

.quote-input:focus{
    border-color: black;
}

.correct {
    color:green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.result{
    text-align: center;
}


.first
{
    margin-top: 2vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20%;
}


/* shake */
.face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }